div {
        border-radius: 5px;
}

#pic {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        border-radius: 40px;
        margin-left: 10px;
        margin-top: 10px;
}

#header {
        z-index: 1;
        position: fixed;
        width: 97.5%;
        margin-top: -20px;
        height: 60px;
        background-color: #5D7475;
        margin-bottom: 10px;
}

#name {
        float:left;
        margin-left: 5px;
        padding-top: 5px;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        color: #ffffff;
}

#email{
        float:right;
        margin-right: 5px;
        padding-top: 5px;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        color: #ffffff;
}

h4 {
        margin-left: 5px;
        margin-bottom: 15px;
        font-family: Verdana, sans-serif;
}

.right p {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -10px;
        font-family: Garamond, serif;
        color: #000000;
}

li {
        list-style-type: square;
}

a:hover {
        font-weight: bold;
}

.left {
        position: relative;
        float: left;
        margin-top: 50px;
        width: 10%;
        height: 900px;
        background-color: #B9D7D9;
        margin-bottom: 10px;
}

.right {
        position: relative;
        float: right;
        margin-top: 50px;
        width: 88%;
        height: 900px;
        background-color: #ADE4D8;
        margin-bottom: 10px;
}

#footer {
        position: relative;
        height: 50px;
        background-color: #668284;
        clear: both;
        font-family: Verdana, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
}

#footer p {
        position: relative;
        padding-top: 15px;
}
